dev/templates/n8n/webhook-trigger.json
{
  "_template": "webhook-trigger",
  "_description": "Webhookを受けてClaudeで処理し結果をLINEに返す汎用パターン",
  "_vars": ["WORKFLOW_NAME", "SYSTEM_PROMPT"],
  "name": "{{WORKFLOW_NAME}}",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "{{WEBHOOK_PATH}}",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "{{WEBHOOK_ID}}"
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-6",
        "messages": {
          "values": [
            { "role": "system", "content": "{{SYSTEM_PROMPT}}" },
            { "role": "user", "content": "={{ $json.body.message || $json.body.text || JSON.stringify($json.body) }}" }
          ]
        },
        "options": { "maxTokensToSample": 2000 }
      },
      "name": "Claude処理",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [460, 300],
      "credentials": { "anthropicApi": { "id": "6RjA3eGBjtQkbNiy", "name": "Anthropic" } }
    },
    {
      "parameters": {
        "resource": "message",
        "to": "{{LINE_USER_ID}}",
        "text": "={{ $json.text }}"
      },
      "name": "LINE返信",
      "type": "n8n-nodes-base.line",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": { "lineApi": { "id": "K0c4UrAem1gYGaxD", "name": "LINE" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\" }"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 460]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Claude処理", "type": "main", "index": 0 }]] },
    "Claude処理": { "main": [[{ "node": "LINE返信", "type": "main", "index": 0 }, { "node": "Respond", "type": "main", "index": 0 }]] }
  }
}
